.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.searchHeader{
  width: 100%;
  height: 15%;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 50%;
}

.addMember{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
  z-index: 9999999;
}

.Searchlogo{
  height: 10%;
}