.completed{
    width: 100%;
    height: 100vh;
}

.completedHeader{
    color: #6AAF6A;
    font-family: Raleway;
    font-size: 1.6em;
}

.completedHeadContainer{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.completedContainer{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#completed{
    height: 15%;
}