.completed{
    width: 100%;
    height: 100vh;
}

.completedInfoContainer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6AAF6A;
    /* background-color: pink; */
}

.completedInfo{
    font-family: Raleway;
    font-size: .8rem;
}

.completedHeadContainer{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

.completedHeader{
    color: #3498DB;
    font-family: Raleway;
    font-size: 2.3rem;
}

#completedNavBtns{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: pink; */
}

.SearchBtn{
    width: 30%;
    height: 10%;
    margin-top: 70px;
    background-color: #3498DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}

#goBack{
    font-family: Raleway;
    font-size: .5rem;
    margin-top: 5px;
    text-decoration: underline black;
}

#goBack:visited{
    color: pink;
}

.trophy{
    animation: wiggle 2s infinite;
}

@keyframes wiggle{
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
}

#pbContainer{
    height: 8%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}