.newMember{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.Searchlogo{
    height: 50%;
}

.profile{
    width: 100%;
    height: 100vh;
    animation: slideInRight 1s;
}

@keyframes slideInRight { 
    0% { 
        transform: translate3d(100%, 0, 0); 
        visibility: visible; 
    } 
    100% { 
        transform: translate3d(0, 0, 0); 
    } 
} 

.textsProgress{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.spinner{
    animation: spin1 3s infinite linear;
    width: 3%;
}

.checkmark{
    animation: fadeIn 1s;
    width: 3%;
}

.spinnerTextDelivered{
    color: #6AAF6A;
    font-size: 1em;
    margin-top: 5px;
    margin-top: 10px;
}

@keyframes fadeIn{
    0% {opacity: 0;} 
    100% {opacity: 1;} 
    }

    @keyframes spin1{
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
}

.spinnerText{
    font-size: 1em;
    margin-top: 5px;
    color: #636763;
    margin-top: 10px;
}

.progressBarContainer{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 480px){
    .progressBarContainer{
        height: 250px;
    }
}

@media screen and (min-width: 480px){
    .bar{
        width: 35%;
    }
}

.directions{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 480px){
    .directions{
        height: 160px;
    }
}

.vipMember{
    font-size: 1.7rem;
    color: #3498db;
    font-family: Raleway;
}

@media screen and (min-width: 480px){
    .vipMember{
        font-size: 2.2rem;
    }
}

.inputForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 480px){
    .inputForm{
        width: 50%;
        height: 400px;
    }
}

/* -------------LEFT SIDE--------------- */
.topForm{
    width: 100%;
    display: flex;
}

.nameContainer{
    width: 50% !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center !important;
}


.numberContainer{
    width: 50% !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.nameInput{
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
    text-align: center;
}
@media screen and (min-width: 480px){
    .nameInput{
        width: 50%;
        font-size: .8rem;
    }
}

.nameInput:focus{
    border:none;
    border-bottom: 1.2px solid grey;
    width: 90%;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 480px){
    .nameInput:focus{
        width: 70%;
    }
}

.numberInput{
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 480px){
    .numberInput{
        width: 50%;
        font-size: .8rem;
    }
}

.numberInput:focus{
    border:none;
    border-bottom: 1.2px solid #808080;
    width: 90%;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 480px){
    .numberInput:focus{
        width: 70%;
    }
}


.sendTextBtn{
    width: 30%;
    height: 30px;
    /* background-color: #3498db; */
    color: white;
    border-radius: 0px;
    border: none;
    /* margin-top: 60px; */
    cursor: pointer;
    font-size: .8rem;
}

.nexty{
    /* background-color: white; */
    color: white;
    width: 20%;
}

@media screen and (min-width: 480px){
    .sendTextBtn{
        /* width: 25%;
        margin-top: 15%; */
    }
}

.sendTextBtn:focus{
    outline: none
}

.saveBtn{
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btnSave{
    width: 20%;
    height: 30px;
    background-color: #3498db;
    border: none;
    border-radius: 0;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.btnSave:focus{
    outline: none;
}

.nextBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnNext{
    font-family: Raleway;
    font-size: .6rem;
    text-transform: uppercase;
    margin-top: 10px;
    height: 20px;
    text-decoration: underline black;
    color: black;
}

.btnNext:visited{
    color: #808080
}

.AddProfileAnimation{
    animation: slideIn 1s;
}

@keyframes slideIn{
    0% { 
        transform: translate3d(100%, 0, 0); 
        visibility: visible; 
    } 
    100% { 
        transform: translate3d(0, 0, 0); 
    } 
}